* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:host ::ng-deep input:focus,
.p-button:focus {
  box-shadow: none !important;
}
#center {
  margin: auto;
}
p > span{
  display:inline-block;
  position: absolute;
  right: 10px;
  bottom: 2px;
  font-size: 14px;

  // background-color: #fff;
  // color: red;
  // padding: 5px 10px 5px;
}


